<h1><%= @user.username %>'s Profile</h1>

<% @user.tweets.each do |tweet| %>
  <%= tweet.message %> <br />
<% end %>
<%= @user.relationships.count %> Following
<br />
<% @user.relationships.each do |relationship| %>
  <%= relationship.friend.name %>
<%end%>
<br />
<br />
<%= pluralize(@user.inverse_relationships.count, "Follower") %>.
<br />
<% @user.inverse_friends.each do |friend| %>
  <%= friend.name %> <br />
<%end%>
<br />
<br />
<br />
<br />
 <% if current_user.id != @user.id %>
  <% if current_user.friends.include?(@user) %>
<%= link_to "Unfollow", relationship_path(current_user.relationships.find_by_friend_id(@user)), :method => :delete %>
  <% else %>
<%= link_to "Follow", relationships_path(:friend_id => @user), method: :post %>
  <% end %>
<% end %>
